.head{
			background-color: #003344;
			color: white;
			font-weight: bold;
			font-size: 50px;
			text-align: center;
			padding: 10px;
}
.summary{
	background-color: #B9B9FF;
	color: white;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	padding: 10px;
}
main{ /*容器  flex-wrap使容器換行*/
	display: flex;flex-wrap: wrap;
	/*水平對齊*/
	justify-content: center;
	/*垂直對齊 stretch預設 center靠中 flex-start靠上*/
	/*align-items: flex-start;*/
	background-color: #ECECFF;
}
main >.form{ 
	flex: none;
	width:400px;
	height:30px;
	margin:10px; 
	background-color: #D2E9FF;
	text-align: center;
}
main >.item{ /*項目*/
	flex: none;
	width:270px;
	height:250px;
	margin:10px; 
	background-color: white;
	text-align: center;
}


@media (max-width: 1200px){
	main >.item{
		width: 45%;
	}
}
@media (max-width: 500px){
	main >.item{
		width: 90%;
	}
}